<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="../../../assets/images/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/images/svg/logo.svg" alt="logo">
    </a>
    <a>
      <img src="../../../assets/images/svg/icon_shopping_cart.svg" alt="buy">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Books</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/images/svg/logo.svg" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
        <li><a href="">Books</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">luchyiba@luchyiba.com</div>
      <div>
        <a href="">
          <img src="../../../assets/images/svg/icon_shopping_cart.svg" alt="buy">
        </a>
      </div>
    </div>
  </div>
</div>
